#About {
    background-color: #F5C0C0; /* #F5C0C0 #FFB6B9 */
    height:100vh;
    display:flex;
    flex-direction:column;
}

.About-photo-container {
    /* margin-top:auto; */
    /* margin-bottom:auto; */
    height: 85%;
    display:flex;
    justify-content: space-evenly;
}

.About-photo-container > * {
    margin-top: auto;
    margin-bottom:auto;
}

.About-photo {
    height:50%;
    border-radius: 50%;
    transition: box-shadow 0.5s;
}

.About-photo:hover {
    box-shadow: rgba(255, 255, 235, 0.685) 0px 0px 40px 20px;
    /* in order: x offset, y offset, blur size, spread size, color */
    /* blur size and spread size are optional (they default to 0) */
}

.About-text {
    width:50%;
    /* font-size:20px; */
    font-size:3vh;
}

.About-text h1 {
    font-size:7.5vh;
    margin-bottom:10px;
}

.About-section-bar-container {
    margin-top:auto;
    /* margin-bottom:auto; */
    position:sticky;
    top:0;
}

/* background-color: #FFE6E7; */