.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

* {
  margin:0;
  padding:0;
}

a {
  /* color:darkblue */
  text-decoration: none;
}

.blue-text {
  color: darkblue !important;
}

.no-underline {
  text-decoration: none !important; 
}

.underline {
  text-decoration: underline;
}
