.ColorfulBar {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top:0;
    padding-top:0;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 30;
}

.ColorfulBar a {
    color:inherit;
    text-decoration: initial;
}

.ColoredBox {
    max-height: 10vh;
    font-size: 200%;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .ColoredBox {
        max-height: 5vh;
        font-size: 75%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .ColoredBox {
        max-height: 7.5vh;
        font-size: 125%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .ColoredBox {
        font-size: 150%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .ColoredBox {
        max-height: 10vh;
        font-size: 200%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}