.End {
    padding-bottom:0;
}

.End-fade {
    width:100%;
    height:400px;
    background: linear-gradient(180deg, #8AC6D1 0%, #020202 100%)
}

.End-footer-photo {
    width:100%;
    margin-bottom:-10px;
}

.End-footer {
    padding-top: 40px;
    padding-right:15%;
    padding-left:15%;
    background:black;
    color:white;
    text-align:center;
}

hr {
    margin-top: 30px;
    margin-bottom: 20px;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.End-icons-row {
    text-align: right;
}

.End-footer p {
    font-size:12px;
}

.End-footer p a {
    text-decoration: initial;
    color: lightblue;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .End-icons-row {
        text-align: center;
    }

    .End-footer {
        font-size: 10px;
    }

    .End-footer p {
        font-size: 8px;
    }
}
