#Experience {
    /* min-height:100vh; */
    overflow:hidden;
    min-height:100vh;
    background-color: #FAE3D9; /* #FAE3D9 */
    align-content: center; 
    position: relative;
}

.Experience-background-pattern-container {
    height: 100vh;
    width: 100%;
    position: absolute;
}

.Experience-background-pattern {
    height: 100vh;
    width: 100%;
    position: absolute;
}

.Experience-box-container {
    align-items:center;
    display:flex;
    flex-direction: column;
}

/* .Experience-box-container .SectionBoxWithImage {
    background-color: #E2B5BC;
    transition: box-shadow 0.7s, margin-top 1s, margin-left 1s;
}

.Experience-box-container .SectionBoxWithImage:hover {
    box-shadow: 5px 10px #c5979e;
    margin-top:-1px;
    margin-left:-0.5px;
} */