.Experience {
    min-height:100%;
    background-color: #FAE3D9;
    align-content: center;
}

.Experience-box-container {
    align-items:center;
    display:flex;
    flex-direction: column;
}

.Experience-box-container .SectionBox {
    transition: box-shadow 0.8s
}

.Experience-box-container .SectionBox:hover {
    box-shadow: 5px 10px #C5979E
}

