.SearchableSkillsGrid {
    min-height:110vh;
    text-align: center;
}

.SearchableSkillsGrid-search-bar {
    height: 40px;
    font-size:100%;
    border-radius: 18px;
    width: 600px;
    border-style:solid;
    border: 1px solid #4E7880;
    padding-left: 10px;
    margin-bottom: 30px;
}

.SearchableSkillsGrid-bars-grid {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 20px;
    /* align-items: center; */
    position:relative;
    align-content:space-around;
    justify-content: space-around;
}