@import './SectionBox.css';

.SectionBoxWithImage {
    width:80%;
    display:flex;
    margin: 20px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: #E2B5BC;
    transition: box-shadow 0.7s, margin-top 1s, margin-left 1s;
}

.SectionBoxWithImage:hover {
    box-shadow: 5px 10px #c5979e;
    margin-top:-1px;
    margin-left:-0.5px;
}

.SectionBoxWithImage-text {
    vertical-align: top;
    width: 100%;
    position:relative;
    z-index:1;
    padding-right: 20px;
    font-size: 110%;
}

.SectionBoxWithImage-text h1 {
    padding-left: 20px;
    font-size: var(--box-heading-size);
}

.SectionBoxWithImage-text ul li {
    margin-left:40px;
}

.SectionBoxWithImage-image {
    position: absolute;
    right: -10px;
    top: -10px;
    margin: 5px;
    border-radius: 50%;
    border: 4px solid #a58388;
}

.SectionBoxWithImage-text p {
    font-size: 18px;
}

.SectionBoxWithImage-text hr {
    margin: 5px;
    margin-bottom: 15px;
    margin-left: 20px;
    width: 70%;
    background-color: black;
    border: 0.5px solid black;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root {
        --box-heading-size: 130%;
    }

    .SectionBoxWithImage-image {
        display: none;
    }

    .SectionBoxWithImage-text {
        font-size: 90%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root {
        --box-heading-size: 150%;
    }

    .SectionBoxWithImage-image {
        display: initial;
        max-height: 40px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .SectionBoxWithImage-image {
        max-height: 46px;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        --box-heading-size: 150%;
    }


    .SectionBoxWithImage-image {
        max-height: 55px;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}