.SectionBoxWithImage {
    width:80%;
    height: 40vh;
    display:flex;
    /* display: grid; */
    /* grid-template: 1fr 3fr; */
    margin: 20px;
    /* height: 20%; */
    border: 2px solid red;
    /* max-height: 50vh; */
    /* height: 20%; */
}

.SectionBoxWithImage-text {
    vertical-align: top;
    width: 100%;
    position:relative;
    z-index:1;
    overflow: hidden;
}

.SectionBoxWithImage-text h1 {
    text-align:center;
}

.SectionBoxWithImage-text ul li {
    margin-left:20px;
}

.SectionBoxWithImage-image {
    max-height: 100%;
}

.SectionBoxWithImage-text p {
    font-size: 18px;
}