#Skills {
    --side-padding: 10%;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    background-color: #8AC6D1;
}

.Skills-icons {
    margin-top: 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Skills-heading {
        font-size: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Skills-heading {
        font-size: 27px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}