#Start-profile {
    margin-bottom:-10px;
    height: 80vh;
    width:60vw;
}

.Start-fade {
    position: absolute;
    background: linear-gradient(282.47deg, #FFDDDD 47.61%, rgba(255, 236, 236, 0.604167) 53.63%, rgba(255, 255, 255, 0) 62.81%);
    height: 79.5vh;
    width: 100%;
}

/* 
#Start-bottom-padding {
    height:80px;
} */